* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card-container {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 15px;
}

.card {
  position: absolute;
  opacity: 1;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  line-height: 100px;
  transition: background-color 0.4s;
}

.task4-container {
  margin: 50px auto;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.field {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: max-content;
  /* border: 1px black solid; */
  background-color: #ffebce;
  border-radius: 10px;
}

.flex-container::before, .flex-container::after {
  content: '';
  width: 100%;
  order: 1;
}

.selected {
  border: 1px black solid;
  box-shadow: 0 0 5px 0px rgb(0, 0, 0);
}

.fade {
  width: 10px;
  /* opacity: 0; */
  transition: width 1s
}

.ui-effects-transfer {
  border: 1px dotted black;
  opacity: 0.4;
}

.new-game-btn, .new-game-btn:hover {
  cursor: pointer;
  padding: 3px;
  margin: 10px 0;
  border: 1px solid lightgreen;
  border-radius: 5px;

}
.new-game-btn:active{
  background-color:#ffebce
}
.timer-container {
  margin: 10px 0;
}

.timer-container > h4 {
  display: inline-block;
}
